@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}
p {
  color: blue;
}
.margen-negativo {
  margin-left: 0px;
}
.alineacion-centrada {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.login {
  height: 80px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
  /*
        Si tengo un container que abarca al boton puedo hacer:border: border:
        - flex-grow: 1;
        o
        - width: 100%
    */
}
.signup {
  height: 80px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: white;
  border-radius: 10px;
  border: transparent;
  margin-top: 15px;
  /*
          Si tengo un container que abarca al boton puedo hacer:border: border:
          - flex-grow: 1;
          o
          - width: 100%
      */
}

input {
  border-radius: 10px;
  padding: 10px;
  margin-left: 55px;
}
select {
  border-radius: 10px;
  padding: 10px;
  margin-left: 15px;
}

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
